<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.deppwang.alfred-format-workflow</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>7910EB1E-72C2-40CB-86D9-3C009AA296DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3549F4CA-4434-4EF7-9B68-B5988BF0027A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F81BE267-5FB9-45E5-89F9-0D0936A17AFC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7910EB1E-72C2-40CB-86D9-3C009AA296DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>DeppWang</string>
	<key>description</key>
	<string>格式化剪贴板文字，为文字中的中文与英文、数字之间加上空格。</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>pangu</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pangu</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>格式化剪贴板文字</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F81BE267-5FB9-45E5-89F9-0D0936A17AFC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>python3 test.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./format.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7910EB1E-72C2-40CB-86D9-3C009AA296DA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>已完成格式化，请查看剪贴板，或直接使用 Ctrl+V 复制</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3549F4CA-4434-4EF7-9B68-B5988BF0027A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>格式化剪贴板文字，为文字中的中文与英文、数字之间加上空格。
具体排版规范请参考：
「中文文案排版指北」(https://github.com/sparanoid/chinese-copywriting-guidelines)
「為什麼你們就是不能加個空格呢？」(https://github.com/vinta/pangu.js)</string>
	<key>uidata</key>
	<dict>
		<key>3549F4CA-4434-4EF7-9B68-B5988BF0027A</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>7910EB1E-72C2-40CB-86D9-3C009AA296DA</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>F81BE267-5FB9-45E5-89F9-0D0936A17AFC</key>
		<dict>
			<key>xpos</key>
			<integer>140</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/DeppWang/alfred-pangu-workflow</string>
</dict>
</plist>
